:root {
  --animation-duration: 0.25s;
  --color: rgb(65, 232, 232);

  --title: 5em;
  --sub-title: 4em;
  --big-size: 1.75em;
  --mid-size: 1.5em;
  --small-size: 1.1em;
}

@media screen and (max-width: 900px),
  screen and (max-height: 900px),
  (pointer: none),
  (pointer: coarse) {
  :root {
    --title: 2em;
    --sub-title: 1.5em;
    --big-size: 1.5em;
    --mid-size: 1em;
    --small-size: 0.9em;
  }
}

html,
body,
#app,
#app > div {
  height: 100%;
  overflow-y: hidden;
}

#root {
  height: 100%;
  font-family: "Courier", Courier, monospace;
  overflow: hidden;
}

@keyframes item-motion {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes item-motion-reverse {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.main-app-home {
  animation-name: item-motion;
  animation-duration: var(--animation-duration);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d4d9e1;
  gap: 40px;
}

.main-app-home-exit {
  animation-name: item-motion-reverse;
  animation-duration: var(--animation-duration);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d4d9e1;
  gap: 40px;
  opacity: 0%;
}

.main-app-item {
  animation-name: item-motion;
  animation-duration: var(--animation-duration);
  padding-top: 15vh;
  padding-left: 15vw;
  padding-right: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d4d9e1;
  gap: 50px;
}

.main-app-item-exit {
  animation-name: item-motion-reverse;
  animation-duration: var(--animation-duration);
  padding-top: 15vh;
  padding-left: 15vw;
  padding-right: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d4d9e1;
  gap: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--title);
}

.name {
  color: var(--color);
}

.sub-title {
  font-size: var(--sub-title);
}

.entry {
  font-size: var(--mid-size);
}

.entry-header-text {
  font-size: var(--mid-size);
  font-weight: 700;
}

.cursor-on {
  border-left: 5px solid #d4d9e1;
}

.cursor-off {
  opacity: 0%;
  border-left: 5px solid #d4d9e1;
}

.shader-background {
  background-color: #201f29;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.shader {
  animation-name: item-motion;
  animation-duration: 2s;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: -1;
}

.top-bar {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  z-index: 3;
}

.bar {
  background-color: #201f29f0;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 10px;
  font-size: var(--mid-size);
}

@keyframes hover-button {
  from {
    color: #d4d9e1;
  }
  to {
    background-color: #d4d9e1;
    color: #201f29;
  }
}

button {
  font-family: "Courier New", Courier, monospace;
  background-color: #00000000;
  color: #d4d9e1;
  border: none;
  font-size: var(--small-size);
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  animation-name: hover-button;
  animation-duration: 0.2s;
  background-color: #d4d9e1;
  color: #201f29;
  font-weight: 700;
}

.shader-button {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 4;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

.links-header {
  font-size: var(--mid-size);
}

.links-buttons {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.icon-hover {
  animation-name: hover-button;
  animation-duration: 0.2s;
  background-color: #d4d9e1;
  color: #201f29;
  padding: 10px;
  font-weight: 700;
  border-radius: 50px;
}

.icon-hover-off {
  color: #d4d9e1;
  padding: 10px;
  font-weight: 700;
  border-radius: 50px;
}

.icon {
  border-radius: 50px;
  margin: 3px;
  height: 40px;
  width: 40px;
  padding: 0px;
}

.icon-large {
  border-radius: 50px;
  margin: 3px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(5, 5);
}

.projects-container {
  border-radius: 5px;
  background-color: #d4d9e1c0;
  color: #201f29;
  /* width: 90vw; */
  height: 54vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 25px;
  padding: 50px;
  overflow-y: scroll;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project-img {
  border-radius: 4px;
  max-width: 520px;
  max-height: 260px;
  min-width: 520px;
  min-height: 260px;
}

@media (pointer: fine) {
  .project-img:hover {
    border-radius: 4px;
    outline: 5px solid #d4d9e1;
  }
}

.project-desc {
  background-color: #201f29;
  padding: 20px;
  border-radius: 4px;
  color: #d4d9e1;
  min-height: 220px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-desc-name {
  font-size: var(--big-size);
  font-weight: 700;
}

.project-desc-text {
  font-size: var(--small-size);
}

.project-desc-links {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.project-icon {
  border-radius: 50px;
  margin: 3px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5, 1.5);
}

::-webkit-scrollbar {
  width: 0.75em;
}

::-webkit-scrollbar-track {
  border-radius: 50px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgba(131, 131, 131, 0.653);
  outline: 1px solid rgb(112, 128, 144, 0.75);
}

.shaders-container {
  border-radius: 5px;
  background-color: #d4d9e1c0;
  color: #201f29;
  width: 70vw;
  height: 54vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 50px;
  overflow-y: scroll;
  position: relative;
}

@media screen and (max-width: 700px),
  screen and (max-height: 700px),
  (pointer: none),
  (pointer: coarse) {
  .top-bar {
    bottom: 0px;
    gap: 0px;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--title);
  }

  .name {
    color: var(--color);
  }

  .sub-title {
    font-size: var(--sub-title);
  }

  .main-app-item {
    gap: 10px;
    padding-top: 8vh;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 70vh;
    justify-content: space-between;
  }

  .main-app-item-exit {
    gap: 10px;
    padding-top: 8vh;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 70vh;
    justify-content: space-between;
  }

  button {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
  }

  .links-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .icon-large {
    transform: scale(2, 2);
  }

  .links {
    height: 75vh;
  }

  .project-desc {
    background-color: #201f29;
    padding: 20px;
    border-radius: 4px;
    color: #d4d9e1;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .project-img {
    border-radius: 4px;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    object-fit: cover
  }
}
